<div id="swagger-ui"></div>

<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
<link href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@3.25.0/swagger-ui.css" rel="stylesheet"/>

<script>
  window.onload = function() {
    const ui = SwaggerUIBundle({
      url: "/docs.yaml",
      dom_id: '#swagger-ui',
      presets: [
        SwaggerUIBundle.presets.apis
      ]
    })

    window.ui = ui
  }
</script>